* {
  font-family: 'Inter', sans-serif;
}

.bg-sidebar {
  background-color: white;
  min-height: 100vh;
  border-right: 1px solid lightgrey;
}

.bg-main-dashboard {
  background-color: #f0f8ff;
  min-height: 100vh;
}

.title-text {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  margin-top: 10px;
  margin-left: 10px;
}

.title-text-primary {
  color: #2F80ED
}
.title-text-secondary{
  font-weight: 800;
}